praw==7.7.1
newspaper3k==0.2.8
beautifulsoup4==4.12.2
requests==2.31.0
pyyaml==6.0.1
python-dotenv==1.0.0
lxml
lxml_html_clean
nltk==3.8.1
pytest==7.4.0
google-genai
youtube-transcript-api
redis==5.0.1
rq==1.15.1
flask==3.0.0